<%= form_with(model: booking) do |form| %>
  <% if booking.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
        <% booking.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>




    <div class="card" style="width: 100%;" >
     <div class="card-header" style="background-color: #e3f2fd;">New Booking</div>
      <div class="card-body">

  
<div class="mb-3">
    <%= form.label :customer_name, "Client Name", style: "display: horizontal" %>
    <%= form.text_field :customer_name, class: "form-control", placeholder:  @b, disabled:true %>
  </div>

  <%
=begin%>
 <div class="mb-3">
    <%= form.label :customer_id, style: "display: horizontal" %>
    <%= form.number_field :customer_id, class: "form-control" %>
  </div> 
<%
=end%>

<%
=begin%>
   <div class="mb-3">
  <%= form.label :room_id, "Room Number", style: "display: block"%>
  <%= select_tag(:room_id, options_for_select(@room_options), class: "form-control" )%>
  </div> 
<%
=end%>

   <div class="mb-3">
  <%= form.label :room_id, "Room Number", style: "display: block"%>
    <%= form.select :room_id, @room.map { |t| [t.roomNumber, t.roomNumber]}, {}, class: "form-control", required: true  %>
  </div>

<%
=begin%>
   <div class="mb-3">
    <%= form.label :room_id, "Room Number", style: "display: horizontal" %>
    <%= form.number_field :room_id, class: "form-control", required: true %>
  </div> 
<%
=end%>

  <div class="mb-3">
    <%= form.label :start_date, "Check-in Date", style: "display: horizontal" %>
    <%= form.date_field :start_date, class: "form-control", required: true  %>
  </div>

  <div class="mb-3">
    <%= form.label :end_date,  "Check-out Date",style: "display: block" %>
    <%= form.date_field :end_date, class: "form-control", required: true %>
  </div>
 
 <%
=begin%>
 <div class="mb-3">
    <%= form.label :issued_by, style: "display: block" %>
    <%= form.number_field :issued_by, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :booking_status, style: "display: block" %>
    <%= form.number_field :booking_status, class: "form-control" %>
  </div>

 <div class="mb-3">
    <%= form.label :closed_date, style: "display: block" %>
    <%= form.date_field :closed_date, class: "form-control" %>
  </div>

 <div class="mb-3">
    <%= form.label :closed_by, style: "display: block" %>
    <%= form.number_field :closed_by, class: "form-control" %>
  </div>
 
<%
=end%>
 <div class="mb-3">
    <%= form.label :comments, style: "display: block" %>
    <%= form.text_area :comments, class: "form-control" %>
  </div>
  


  <div>
    <%= form.submit "Submit", class: "btn btn-primary"%>
  </div>





  </div>
</div>
</div>



<% end %>
