<div id="<%= dom_id customer %>">
  <p>
    <strong>Firstname:</strong>
    <%= customer.firstName %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= customer.lastName %>
  </p>

  <p>
    <strong>Dateofbirth:</strong>
    <%= customer.dateofBirth %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= customer.address %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= customer.email %>
  </p>

  <p>
    <strong>Mobilenumber:</strong>
    <%= customer.mobileNumber %>
  </p>

  <p>
    <strong>Idtype:</strong>
    <%= customer.idType %>
  </p>

  <p>
    <strong>Idnumber:</strong>
    <%= customer.idNumber %>
  </p>

  <p>
    <strong>Registeredby:</strong>
    <%= customer.registeredBy %>
  </p>

  <p>
    <strong>Comments:</strong>
    <%= customer.comments %>
  </p>

</div>
